/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

/* General styles */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    
}

header {
    text-align: center;
    font-size: 2rem;
    padding: 0.5rem;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* Cork View classes */

.corkBackground {
    background-image: url("images/cork.jpg");
    background-repeat: repeat;
    background-color: #D3A268;
}

.controlPanelCork {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 3rem;
    background-color: #180e01;
}

.appTitleCork {
    color: white;
    font-size: x-large;
}

.buttonCork {
    background-color: #180e01;
    color: #e7e7e7;
    border: 2px solid #e7e7e7;
    border-radius: 0.1rem;
    text-align: center;
    transition-duration: 0.4s;
}

.buttonCork:hover {
    background-color: #e7e7e7;
    color: #180e01;
}

.buttonCork:active {
    transition-duration: 0.1s;
    color: #180e01;
    background-color: #e7e7e7;
}

.createNewNoteButtonCork {
    padding: 0.1rem 1rem;
    font-size: large;
}

.newNoteFrameCork {
    position: absolute;
    top: 5rem;
    left: 35vw;
    min-width: 250px;
    width: 30vw;
    min-height: calc(300px + 0.5rem);
    height: 40vh;
    background-color: white;
    box-shadow: 10px 10px 10px black;
    padding: 0.5rem;
}

.noteTitleInputCork {
    width: 80%;
}

.noteTextInputCork {
    width: 100%;
    height: 70%;
    margin-top: 1rem;
    resize: none;
}

.closeButtonCork {
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
}

.addNoteButtonCork {
    position: absolute;
    bottom: 0.3rem;
    width: 20%;
    left: 40%;
}

.noteCork {
    font-family: 'Open Sans', sans-serif;
    border-radius: 0.1rem;
    padding: 0.2rem 1rem;
    display: flex;
    flex-flow: row wrap;
    border: 1px solid black;
    background: #ffff78;
    justify-content: space-between;
    align-items: center;
}

.noteTitleCork {
    flex: 1 1 100%;
    font-weight: bold;
    word-wrap: break-word;
    max-width: 100%;
}

.noteTextCork {
    flex: 1 1 100%;
    text-align: left;
    word-wrap: break-word;
    max-width: 100%;
    border: 1px solid rgba(161, 161, 161, 0.5);
    margin: 0;
}

.noteTimeCork {
    font-size: smaller;
    text-align: right;
    font-weight: lighter;
}

.noteButtonCork {
    border: none;
    background: none;
    padding: none;
}

/* Stack View Clases */
.stackBody{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}

.stackBackground {
    background: #FFFFFF;
    display: flex;
    flex-flow: row wrap;
}

.controlPanelStack {
    background: #FEEFC3;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    padding: 1vw;
}

.appTitleStack{
    color: #000000;
    font-family: 'Bitter', serif;
    font-size: x-large;
}

.buttonStack {
    background-color: #FEEFC3;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 0.4rem;
    text-align: center;
    transition-duration: 0.4s;
}

.buttonStack:hover {
    background-color: #FEEFC3;
    border: 2px solid #000000;
    color: #000000;
}

.buttonStack:active {
    transition-duration: 0.1s;
    color: #000000;
    background-color: #FEEFC3;
}

.createNewNoteButtonStack {
    padding: 0.5rem;
    font-size: large;
}

.noteStack {
    font-family: 'Open Sans', sans-serif;
    border-radius: 0.4rem;
    padding: 0.2rem 1rem;
    margin: 0.5rem;
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid #64645f;
    background: #FFFFFF;
    justify-content: space-between;
    align-items: center;
}

.noteTitleStack {
    flex: 1 4 100%;
    font-weight: bold;
    word-wrap: break-word;
    max-width: 100%;
    align-self: flex-start;
}

.noteTextStack {
    flex: 4 1 100%;
    text-align: left;
    word-wrap: break-word;
    align-self: stretch;
    overflow-y: auto;
    border-top: 1px solid rgba(161, 161, 161, 0.5);
    margin: 0;
}

.bottomDivStack {
    flex: 1 4 100%;
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: center;
}

.noteButtonStack {
    border: none;
    background: none;
    padding: none;
}

.noteTimeStack {
    font-size: smaller;
    text-align: right;
    font-weight: lighter;
}

.newNoteFrameStack {
    display: block;
} 

.noteTitleInputStack {
    width: 80%;
}

.noteTextInputStack {
    width: 100%;
    height: 10rem;
    margin: 0.5rem 0;
    resize: none;
}

.addNoteButtonStack {
    position: relative;
    left: 25%;
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid black;;
    font-size: larger;
    cursor: pointer;
}

.closeButtonStack {
    position: relative;
    top: -5%;
    right: -5%;
    background-color: #FFFFFF;
    color: #000000;
    border: none;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
}